__pycache__/findLetterCandidates.cpython-310.pyc
__pycache__/readImage.cpython-310.pyc
__pycache__/groupingLetters.cpython-310.pyc
__pycache__/readImage.cpython-310.pyc
__pycache__
images
sleeper
scene
scene3
scene2

