__pycache__/findLetterCandidates.cpython-310.pyc
__pycache__/readImage.cpython-310.pyc
__pycache__/groupingLetters.cpython-310.pyc
__pycache__/readImage.cpython-310.pyc
__pycache__
images/Thumbs.db
sleeper/Thumbs.db
